/** MEDIA QUERY BREAKPOINTS **/
/** FONTS **/
/**
HOME PAGE STYLES
**/
.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;
}

.home-wrapper h1 {
  margin: 0;
  font-family: "Luckiest Guy";
  font-size: 12vw;
  letter-spacing: 4px;
}

.home-wrapper .desc-wrapper {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid red;
  margin-top: 16px;
}

.home-wrapper .desc-wrapper .rules,
.home-wrapper .desc-wrapper .about {
  border: 1px solid green;
  padding: 8px;
}

@media all and (min-width: 600px) {
  .home-wrapper .desc-wrapper {
    width: 50vw;
  }
}

/**
GAME PAGE STYLES
**/
.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;
}

.game-wrapper .timer-score-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
  width: 90%;
  padding: 0px 10px;
}

.game-wrapper .boggle-board-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border: 1px solid green;
}

.game-wrapper .boggle-board-wrapper .boggle-board {
  width: 90vw;
  border: 1px solid red;
}

.game-wrapper .boggle-board-wrapper .board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-wrapper .boggle-board-wrapper .board-cell {
  height: 20vw;
  width: 20vw;
  text-align: center;
  border: 1px solid lavender;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Luckiest Guy";
  font-size: 8vw;
  background-color: rebeccapurple;
}

@media all and (min-width: 600px) {
  .game-wrapper .boggle-board-wrapper .board-cell {
    width: 15vw;
    height: 15vw;
    font-size: 6vw;
  }
}

@media all and (min-width: 768px) {
  .game-wrapper .boggle-board-wrapper .board-cell {
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
  }
}

@media all and (min-width: 992px) {
  .game-wrapper .boggle-board-wrapper .board-cell {
    width: 8vw;
    height: 8vw;
    font-size: 3vw;
  }
}

.game-wrapper .boggle-board-wrapper .board-cell-used {
  background-color: red;
}

.game-wrapper .user-input-wrapper {
  border: 1px solid red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-wrapper .user-input-wrapper .user-input {
  border: 1px solid black;
  min-height: 30px;
  min-width: 80vw;
}

.game-wrapper .user-input-wrapper .user-input p {
  margin: 0px;
  font-size: 24px;
  font-family: "Luckiest Guy";
  letter-spacing: 2px;
  text-align: center;
}

.game-wrapper .user-input-wrapper .user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid blue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: teal;
  font-weight: bold;
  font-size: 50px;
}
/*# sourceMappingURL=boggle.css.map */