/** MEDIA QUERY BREAKPOINTS **/
/** FONTS **/
/** custom animation **/
@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/**
HOME PAGE STYLES
**/
.home-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;
}

.home-wrapper .github-button {
  position: fixed;
  top: 10px;
  left: 10px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: rotateIn;
          animation-name: rotateIn;
}

.home-wrapper h1 {
  margin: 0;
  font-family: "Luckiest Guy";
  font-size: 12vw;
  letter-spacing: 4px;
}

.home-wrapper .desc-wrapper {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.home-wrapper .desc-wrapper .about {
  padding: 12px;
}

.home-wrapper .desc-wrapper .footer {
  text-align: center;
  margin-top: 24px;
  font-size: 12px;
}

.home-wrapper .desc-wrapper .footer a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

@media all and (min-width: 600px) {
  .home-wrapper .desc-wrapper {
    width: 50vw;
  }
}

/**
GAME PAGE STYLES
**/
.game-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;
}

.game-wrapper h1 {
  margin: 0;
  font-family: "Luckiest Guy";
  font-size: 2rem;
  letter-spacing: 4px;
}

.game-wrapper .timer-score-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  padding: 0px 10px;
}

.game-wrapper .timer-score-wrapper .score,
.game-wrapper .timer-score-wrapper .timer {
  display: inline-block;
  min-width: 15vw;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.game-wrapper .boggle-board-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

.game-wrapper .boggle-board-wrapper .boggle-board {
  width: 90vw;
}

.game-wrapper .boggle-board-wrapper .board-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-wrapper .boggle-board-wrapper .board-cell {
  height: 20vw;
  width: 20vw;
  text-align: center;
  border: 1px solid lavender;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Luckiest Guy";
  font-size: 8vw;
  color: #424242;
}

@media all and (min-width: 600px) {
  .game-wrapper .boggle-board-wrapper .board-cell {
    width: 15vw;
    height: 15vw;
    font-size: 6vw;
  }
}

@media all and (min-width: 768px) {
  .game-wrapper .boggle-board-wrapper .board-cell {
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
  }
}

@media all and (min-width: 992px) {
  .game-wrapper .boggle-board-wrapper .board-cell {
    width: 8vw;
    height: 8vw;
    font-size: 3vw;
  }
}

.game-wrapper .boggle-board-wrapper .board-cell-used {
  background-color: #212121;
}

.game-wrapper .user-input-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-wrapper .user-input-wrapper .user-input {
  min-height: 30px;
  min-width: 80vw;
}

.game-wrapper .user-input-wrapper .user-input p {
  margin: 0px;
  font-size: 24px;
  font-family: "Luckiest Guy";
  letter-spacing: 2px;
  text-align: center;
}

.game-wrapper .user-input-wrapper .user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 50px;
}

.game-wrapper .user-input-wrapper .user-actions IconButton {
  cursor: pointer;
}

/**
Game End page styles
**/
.game-end-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;
}

.game-end-wrapper h1 {
  margin: 0;
  font-family: "Luckiest Guy";
  font-size: 2rem;
  letter-spacing: 4px;
}

.game-end-wrapper .prev-game-info-wrapper {
  margin-top: 16px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Luckiest Guy";
  text-align: center;
}

@media all and (min-width: 600px) {
  .game-end-wrapper .prev-game-info-wrapper {
    width: 50vw;
  }
}

.game-end-wrapper .prev-game-info-wrapper h2 {
  margin: 0px;
  font-size: 2.2rem;
}

.game-end-wrapper .prev-game-info-wrapper p {
  margin: 12px 0 6px 0;
}

.game-end-wrapper .prev-game-info-wrapper .word-lists {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px;
}

.game-end-wrapper .prev-game-info-wrapper .word-lists p {
  margin: 4px;
}

.game-end-wrapper .found-word {
  color: #333;
}

.game-end-wrapper .word-not-found {
  color: grey;
}

/**
play button component
**/
.play-button {
  border: 2px solid #333;
  border-radius: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
  height: 50px;
  font-family: "Luckiest Guy";
  font-size: 24px;
  margin-top: 12px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.play-button:hover {
  background: #333;
  color: #efef;
}

@media all and (min-width: 600px) {
  .play-button {
    width: 30vw;
  }
}

@media all and (min-width: 768px) {
  .play-button {
    width: 20vw;
  }
}

@media all and (min-width: 992px) {
  .play-button {
    width: 15vw;
  }
}

/**
loader component
**/
.loader {
  margin: 7vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader p {
  margin: 4px;
}
/*# sourceMappingURL=boggle.css.map */