/** MEDIA QUERY BREAKPOINTS **/
$small: 600px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

/** FONTS **/
$luckiest-guy: "Luckiest Guy";

/**COLORS**/
$primary: #393f4d;
$primary-dark: #2a2a2a;
$primary-light: whitesmoke;
$secondary: #7e7e7e;
$secondary-light: #d4d4dc;

/** custom animation **/
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fixed-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: rotateIn;
  color: $primary-light;
  .fixed-btn-fab {
    background-color: $primary;
    color: $primary-light;
    &:hover {
      background-color: $primary;
      color: $primary-light;
    }
  }
}

.fx-btn-gh {
  position: fixed;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: rotateIn;
  top: 10px;
  left: 10px;
  color: $primary;
}

/**
HOME PAGE STYLES
**/
.home-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;

  h1 {
    margin: 0;
    font-family: $luckiest-guy;
    font-size: 12vw;
    letter-spacing: 4px;
    color: $primary;
  }

  .desc-wrapper {
    width: 95vw;
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    margin-top: 20px;
    .about {
      //border: 1px solid green;
      padding: 12px;
      h4 {
        color: $primary;
      }
      p {
        color: $secondary;
      }
    }

    .footer {
      text-align: center;
      //margin-top: 12px;
      font-size: 12px;
      color: $secondary;
      a {
        text-decoration: none;
        color: $primary;
        font-weight: bold;
      }
    }

    @media all and (min-width: $small) {
      width: 50vw;
    }
  }
}

/**
GAME PAGE STYLES
**/
.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;

  h1 {
    margin: 0;
    font-family: $luckiest-guy;
    font-size: 2rem;
    letter-spacing: 4px;
    color: $primary;
  }
  // timer and score section styles
  .timer-score-wrapper {
    display: flex;
    justify-content: center;
    //border: 1px solid red;
    width: 90%;
    padding: 0px 10px;

    .score,
    .timer {
      display: inline-block;
      //border: 1px dotted darkblue;
      min-width: 15vw;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 8px;
      color: $primary;
    }
  }

  // Boggle Board Styles
  .boggle-board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    //border: 1px solid green;

    .boggle-board {
      width: 90vw;
      //border: 1px solid red;
    }
    .board-row {
      display: flex;
      justify-content: center;
    }
    .board-cell {
      height: 20vw;
      width: 20vw;
      text-align: center;
      border: 1px solid $secondary-light;
      padding: 4px;
      //centers the character of cell
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $luckiest-guy;
      font-size: 8vw;
      color: $primary;
      //background-color: rebeccapurple;
      @media all and (min-width: $small) {
        width: 15vw;
        height: 15vw;
        font-size: 6vw;
      }
      @media all and (min-width: $medium) {
        width: 10vw;
        height: 10vw;
        font-size: 4vw;
      }
      @media all and (min-width: $large) {
        width: 8vw;
        height: 8vw;
        font-size: 3vw;
      }
    }
    .board-cell-used {
      background-color: $primary;
      color: $primary-light;
    }
  }

  // User Input Styles
  .user-input-wrapper {
    //border: 1px solid red;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-direction: column;
    .user-input {
      //border: 1px solid black;
      min-height: 30px;
      min-width: 80vw;
      p {
        margin: 0px;
        font-size: 24px;
        font-family: $luckiest-guy;
        letter-spacing: 2px;
        text-align: center;
      }
    }
    .user-actions {
      display: flex;
      //border: 1px solid blue;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      IconButton {
        cursor: pointer;
      }

      .fab-submit {
        background-color: $primary;
        color: $primary-light;
        text-transform: capitalize;
        margin-right: 4px;
      }
      .fab-reset {
        margin-left: 4px;
        background-color: transparent;
        border: 1px solid $primary;
        text-transform: capitalize;
        color: $primary;
      }
    }
  }
}

/**
Game End page styles
**/
.game-end-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 4vh 0px;
  h1 {
    margin: 0;
    font-family: $luckiest-guy;
    font-size: 2rem;
    letter-spacing: 4px;
  }

  .prev-game-info-wrapper {
    margin-top: 16px;
    //border: 1px solid red;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $luckiest-guy;
    text-align: center;

    @media all and (min-width: $small) {
      width: 50vw;
    }
    h2 {
      margin: 0px;
      font-size: 2.2rem;
    }

    p {
      margin: 12px 0 6px 0;
    }

    .word-lists {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      padding: 16px;
      p {
        //border: 1px solid blue;
        margin: 4px;
      }
    }
  }

  .found-word {
    color: #333;
  }
  .word-not-found {
    color: grey;
  }
}

/**
play button component
**/
.play-button {
  border: 2px solid $primary;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50px;
  font-family: $luckiest-guy;
  font-size: 24px;
  margin-top: 12px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: $primary;
  &:hover {
    background: $primary;
    color: $primary-light;
  }
  @media all and (min-width: $small) {
    width: 30vw;
  }
  @media all and (min-width: $medium) {
    width: 20vw;
  }
  @media all and (min-width: $large) {
    width: 15vw;
  }
}

/**
loader component
**/
.loader {
  margin: 7vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  p {
    margin: 4px;
  }
}
